{% extends 'base.html' %}


{% block head %}
<title>Metapy Removal</title>
{% endblock %}

{% block body %}
<div>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

    <form action="/" method='POST'>
        <input type="text" name="content" id="content">
        <input type="submit" value="Add task">
    </form>

</div>

{% endblock %}